html {
  font-size: 10px;
}

body {
  font-size: 1.6em;
  font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
  font-family: 'Forum', Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Forum', Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;  
  letter-spacing: 5px;
  text-transform: uppercase;
}